section{ 
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

h1{ 
    font-size: 40px;
}

.tire{
    height: 8px;
    width: 100%;
    border-bottom: solid 2px #eaeaea;
}


.card{
    border-bottom: solid 1px rgb(182, 182, 182);
}

.card img { 
    width: 100%;
    height: 100%;
}


.img-cont { 
    display: inline-block;
    width: 20%;
    height: 100%; 
}

.right{
    
        display: inline-block;
        height: 100%;
        width: 70%;
    
}

.right h3 { 
    margin-bottom: 26px;
    font-size: 30px;
} 

.description { 
margin-bottom: 25px;
color: #5d5d5d;
}

.read{
    margin-bottom: 30px;
    background-color: rgb(184, 116, 248);
    border:none; 
    padding:4px; 
    border-radius: 3px;
}
.read:hover{
    background-color: rgb(153, 60, 240);

}
.read a { color : white; }

